html {
    height: 100%;
    scroll-behavior: smooth;
}

.nav_ani{
    animation: popIn 2s;
 
}

.transition{
    animation: fadeIn 0.75s;
 }



.logo{
    animation: growOut 2s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  /*   0%{transform: rotateX(-10deg);}
    100%{transform: rotateX(0deg);} */
}


@keyframes popIn {
    0% {opacity:0;}
    100% {opacity:1;}
}



@keyframes growOut {
    0% {opacity:0;}
    100% {opacity:1;}
    0%{transform: rotateX(150deg);}
    100%{transform: rotateX(0deg);}
}



body {
    background-color: #ffffff;
    display: flex;
    flex-direction:column ;
    min-height: 100vh;
    margin:0
}

.container {
    width: 1500px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;

}

header {
    height: 20px;
    text-align: left;
    font-size: normal;
    text-decoration:none;
    padding-top: 70px;
    padding-left: 25px;
    position:absolute;

}

header a:hover{
    color: rgba(50, 50, 110, 0.555);
    transition: all, 0.5s, ease 0s;

}

.logo{
    position: absolute;
    align-items: center;
    
}

.logo_size{
    padding-top: 15px;
    padding-left: 35px;
    width: 10%;
    height: 10%;
}

nav {
    text-align: right;
    padding-right: 20px;
  
}

li{
    display: inline;

}


main {
    height: 500px;
    text-align:center;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration:none;
    min-height: 320vh;
}


footer {
    background-color:white;
    height: 310px;
    position: sticky;
    top: 100%;
    
}


h1{
    font-size: 62px;
    font-family: 'Asul', sans-serif;
    color: black;
    text-align:center;
}

p {
    font-family: 'Asul', sans-serif;
    color:black;
}

a {
    font-family: 'Asul', sans-serif;
    color: black;
}
div {
    font-family: 'Asul', sans-serif;
    color: black;
    font-size: 30px;
}

#coktails {
    float:none; 
    width:100%;
    height:580px;
    margin-top:80px;

}
#wine{
    float:left;
    width:50%;
    height:280px;
    margin-top:50px;

}

#beer{
    float:right;
    width: 45%;
    height:280px;
    margin-top:50px;

}
.banner{
    

    background-repeat: no-repeat;
    background-position: top;
    background-size:125%;
    background-attachment: fixed;
    margin-left: auto;
    margin-right: auto;  
    margin-top: 60px;
    background-image: url(img/banner2.png);
    box-shadow: inset 0 0 5px #000000;
    


}

.banner_size{
    -webkit-mask-image: url(img/bannermask.png);
    mask-image: url(img/bannermask.png);
    width: 100%;
   height: 350px;

}

.banner2{
    
    background-size: 100%;
    margin-top: 50px;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    margin-left: auto;
    margin-right: auto;  
    background-image: url(img/banner6.jpg);
    box-shadow: inset 0 0 5px #000000;


}

.banner_size2{
    height: 360px;
    width: 100%;
    -webkit-mask-image: url(img/bannermask.png);
    mask-image: url(img/bannermask.png);
    
}

nav a {
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    
}

nav a:hover{
    font-size: 20px;
    color: rgba(50, 50, 110, 0.555);
    transition: all, 0.3s, ease 0s;

}

main p{
    font-size: 17px;
    font-family: 'Asul', sans-serif;
    background-color: #ffffff;
}
main h2{
    font-size: 35px;
    font-family: 'Asul', sans-serif;
    background-color: #ffffff;
}
main h3{
    font-size: 25px;
    font-family: 'Asul', sans-serif;
    background-color: #ffffff;

}

.nav li .current{
    text-decoration: underline;
}

footer a {
    font-size: 20px;
    color: black;
}

footer a:hover{
    color: rgba(50, 50, 110, 0.555);
    transition: all, 0.5s, ease 0s;

}

footer p{
    font-size: 20px;
    font-family: 'Asul', sans-serif;
    color: black;
}


footer h2{
    font-size: 35px;
    font-family: 'Asul', sans-serif;
    color:black;

}

footer h3{
    font-size: 34px;
    font-family: 'Asul', sans-serif;
    color:black;

}
#leftfooter{

    float:left;
    text-align: center;
    padding-left: 100px;
    padding-top: 10px;

   
}

#middlefooter{
    float:left;
    text-align: center;
    padding-left: 420px;
    padding-top: 100px;
    
}

#middlefooter .logo{
    filter: grayscale(10); 
    align-items: center;

}

#middlefooter .logo_size{
    margin-top: -42px;
    float: left;
    width: 10%;
    height: 10%;
}

#rightfooter{
    float:right;
    text-align: center;
    padding-right: 100px;
    margin-top:10px;
}


#middlefooter .logo{
    filter: grayscale(10); 
    align-items: center;

}

#middlefooter .logo_size{
    margin-top: -40px;
    margin-left:-5px;
    float: left;
    width: 80px;
    height: 60px;
  
}

#rightfooter{
    float:right;
    text-align: center;
    padding-right: 100px;
    
}


#middlefooter .logo:hover{
    filter: grayscale(0);
    border-radius: 1px 1px;
    transition: all, 0.5s, ease 0s;

}
ion-icon:hover{
    font-size: 20px;
    color: rgba(50, 50, 110, 0.555);
    transition: all, 0.5s, ease 0s;

}

  ion-icon {
    color: black;
}

  footer   ion-icon {
    color:black;
    font-size: 25px;

  }

  ion-icon {
    --ionicon-stroke-width: 20px;
  }